{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
